/* @import "./reset.scss"; */
body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: center;
}

main {
  height: 100vh;
}

section {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  article {
    width: 20rem;
    height: auto;
    font-size: 0.8rem;
    padding: 1rem;
    margin: 1rem;
    -webkit-box-shadow: 3px 0px 39px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 0px 39px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 0px 39px -9px rgba(0, 0, 0, 0.75);

    img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
    }
    &:active {
      transition: all 300ms;
    }
  }
}
